body {
  
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

height:50rem ;

background: linear-gradient(to bottom, #7db9e8 0% ,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-repeat: no-repeat;
}

#bandeau{
  background-color: #E4E4E4;
  height: 10%;
}
input{
  width: 20px;
}
button{
  background-color: red;
}
h4{
  color: aliceblue;
}
#row{
  
  display: flex;
  margin-top: 7%;
  justify-content: center;
}
#lienNav{
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}
#lienNav, a{
  color: black;
}
#indexrow{
  display:flex;
  margin-top: 7%;
  justify-content: center;
}
#balisevoyage{
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
